* {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

html {
  font-family: Roboto, sans-serif;
}

h2{
  font-style: 15px;
  font-weight: normal;
}
.weather {
  width: 100%;
  min-height: 100vh;
}

:root {
  --theme-color-1: 125, 177, 255, 1;
  --theme-color-2: 100, 62, 251, 1;
}

html[data-theme="day"] .weather,
.weather {
  background: linear-gradient(180deg, rgba(var(--theme-color-1)) 0%, rgba(var(--theme-color-2)) 100%);
}

.weather__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
}

input {
  padding: 10px 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  width: 40%;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.211);
  color: rgb(255, 255, 255);
  outline: none;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
}

.current {
  text-align: center;
  margin-bottom: 2em;
}

.current__city {
  font-size: 70px;
  font-weight: 700;
  margin-top: 40px;
}

.current__icon img {
  height: 150px;
}
.current__description {
  font-size: 1.5em;
}

.current__temperature {
  font-size: 4em;
  margin-bottom: 50px;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.forecast__item {
  text-align: center;
}

.forecast__time {
  margin-bottom: 1em;
}


.forecast__temperature {
  font-size: 1.5em;
}

.forecast__icon {
  margin-bottom: 1em;
  height: 84px;
  width: auto;
}

.details__row {
  display: flex;
  margin-bottom: 30px;
}

.details__item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details__name {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 20px
}

.details__wrapper{
 display: flex;
 justify-content: center;
}


.details__value {
  font-size: 30px;
}

html.transition,
html.transition * {
  -webkit-transition: all 2000ms !important;
  transition: all 2000ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.icon__01d,
.icon__01n,
.icon__02d,
.icon__02n,
.icon__03d,
.icon__03n,
.icon__04d,
.icon__04n,
.icon__09d,
.icon__09n,
.icon__10d,
.icon__10n,
.icon__11n,
.icon__11n,
.icon__13d,
.icon__13n,
.icon__50d,
.icon__50n {
  background-size: 90px;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.icon__01d {
  background-image: url("../img/01d.svg");
}

.icon__01n {
  background-image: url("../img/01n.svg")
}

.icon__02d {
  background-image: url("../img/02d.svg");
}

.icon__02n {
  background-image: url("../img/02n.svg")
}

.icon__03d {
  background-image: url("../img/03d.svg");
}

.icon__03n {
  background-image: url("../img/03n.svg")
}

.icon__04d {
  background-image: url("../img/04d.svg");
}

.icon__04n {
  background-image: url("../img/04n.svg")
}

.icon__09d {
  background-image: url("../img/09d.svg");
}

.icon__09n {
  background-image: url("../img/09n.svg")
}

.icon__10d {
  background-image: url("../img/10d.svg");
}

.icon__10n {
  background-image: url("../img/10n.svg")
}

.icon__11n {
  background-image: url("../img/11d.svg");
}

.icon__11n {
  background-image: url("../img/11n.svg")
}

.icon__13d{
  background-image: url("../img/13d.svg");
}

.icon__13n {
  background-image: url("../img/13n.svg")
}

.icon__50d {
  background-image: url("../img/50d.svg");
}

.icon__50n {
  background-image: url("../img/50n.svg")
}
.link {
  text-align: center;
  padding-top: 20px;
  tab-size: 15px;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

.footer{
  text-align: center;
  padding-bottom: 30px; 
  padding-top: 100px;
}